
/* apply to all */
* {
    padding:0;
    margin:0;
    font-family: arial;
    box-sizing: border-box;
}

header{
    background-color: rgb(2, 20, 43);
    margin: 0px;
    height: 120px;
    color: white;
}

header p {
    padding: 3rem 0px 0px 2rem;
    font-size: 45px;
}

/* Main */
.container {
    display: flex;
    gap: 2rem;
    margin: 0 2rem;
}

/* Left-side */
.left_side_container {
    border: 1px solid rgb(57, 138, 214);
    flex-basis: 100%;
    background-color: rgb(177, 206, 233);
    
}

.yellow_box {
    background-color: rgb(238, 198, 161);
    border: 1px solid rgb(206, 115, 30);
    margin: 30px 10px 0px;
    padding: 10px;
    text-align: center;
    font-size: 25px;
}

.pink_box {
    background-color: pink;
    border: 1px solid black;
    margin: 20px 10px;
    padding: 15px;
    text-align: justify;
}

input[type="button"] {
    background-color: rgb(76, 140, 199);
    color: white;
    margin: 0px 10px 20px;
    padding: 5px 20px;
    border-radius: 5px;

}

/* Right-side */
.right_side_container {
   flex-basis: 100%;
   background-color: rgb(153, 157, 161);
   position: relative;
    
}


.right_side_container div{
    height: 70x;
    width: 150px;
    background-color:rgb(0, 3, 3);
    text-align: center;
    line-height: 70px;
    color: white;
}

.right_side_container :last-child {
    background-color: rgb(220, 210, 141);
    border: 1px solid rgb(119, 68, 6);
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    
}

.right_side_container :nth-child(2) {
    position: absolute;
    top:1rem;
    left: 50%;
    transform:translateX(-50%);
    background-color: rgb(8, 101, 8);
}

.right_side_container :nth-child(5) {
    position: absolute;
    bottom:1rem;
    left: 50%;
    transform:translateX(-50%);
    background-color: rgb(159, 17, 79);
}

.right_side_container :first-child {
    position: absolute;
    top:50%;
    left: 1rem;
    transform:translateY(-150%);
    background-color: rgb(93, 148, 93);
}

.right_side_container :nth-child(6) {
    position: absolute;
    top:50%;
    left: 1rem;
    transform:translateY(50%);
    background-color: rgb(32, 42, 172);
}

.right_side_container :nth-child(3) {
    position: absolute;
    top:50%;
    right: 1rem;
    transform:translateY(-150%);
    background-color: rgb(32, 109, 150);
}

.right_side_container :nth-child(4) {
    position: absolute;
    top:50%;
    right: 1rem;
    transform:translateY(50%);
    background-color: rgb(147, 28, 15);
}

