* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: arial;
}

header {
    background: gray;
    color: white;
    height: 150px;
    width: 100%;
    padding: 70px 30px 0px;
    font-size: 25px;
}

.container {
    margin: 20px 70px 0px;
    background: rgb(118, 216, 251);
    border: 1px solid rgb(4, 101, 161);
    padding: 30px 30px 20px;
}

.text-box {
    background: rgb(255, 207, 215);
    border: 1px solid rgb(235, 91, 115);
    padding: 20px 10px 15px;
}

.container-btn {
    margin-top: 20px;
    position: relative
}

.btn {
    border-radius: 5px;
    height: 30px;
    width: 100px;
    color: white;
    font-size:1rem;
}

.btn-delete {
    background-color: rgb(212, 31, 170);
    border: 1px solid rgb(111, 11, 27);
}

.btn-keep {
    background-color: rgb(15, 174, 242);
    border: 1px solid rgb(8, 115, 165);
}

.pop_up {

    background-color: rgb(131, 255, 255);
    border: 1px solid rgb(0, 110, 110);
    width: 150px;
    height: 70px;
    color: black;
    
    position: absolute;
    bottom: 120%;
    left: -10%;
    align-items: center;
    text-align: center;
    display: none;
    /* display: flex; */
}

.btn-delete:hover {
    cursor:pointer;
}

.btn-delete:hover ~.pop_up {
    display: flex;

}
