header {
    text-align: center;
    font-family: arial;
}

input[type="button"] {
    border: none;
    background-color: rgb(75, 145, 207);
    color: white;
    width: 100px;
    height: 30px;
}

.blue_color {
    color:rgb(81, 135, 189);
}


ul li {
    display: inline-block;
    background-color: rgb(54, 50, 42);
    color: white;
    padding: 10px 25px 10px 25px;
    margin: 10px;
    color: white;

}

a {
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}