*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    height: 1000px;
    margin: 20px;
}
.font-green {
    color: rgb(43, 199, 43)
}
.font-blue {
    color: blue
}
.bg-pink {
    background-color: pink;
    border: 1px solid rgb(210, 73, 96);
}
.bg-yellow {
    background-color: rgb(229, 168, 103);
    border: 1px solid rgb(216, 145, 12);
}
.bg-blue {
    background-color: rgb(5, 164, 226);
    border: 1px solid rgb(7, 70, 121)
}
.add-border {
    border: 1px solid black;
    padding: 10px
}
/* Header */
Header {
    border: 1px solid black;
    margin-block: 20px;
    padding: 10px 20px 10px;
    display: flex;
    justify-content: space-between;
}

.circle {
    height: 50px;
    width: 50px;
    background-color: rgb(255, 255, 144);
    border-radius: 50%;
    border: dashed black;
}

.hello-user {
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-list {
    display: flex;
    gap: 15px;
    align-items: center;
}

/* main */
    /* movie-grid */

    .main-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        height: 300px
    }
    .movie-grid {
        flex: 1;
        display: grid;
        grid-template-rows: 5fr 1fr ;
        gap: 10px;
    }
    /* grid area distribution */

    .main-image {
        grid-column: 1/span 3;
        background-color: rgb(243, 167, 246);
        display: flex;
    }

    .main-image p{
        margin:auto;
        font-weight: bold;
    }

    .buttons {
        grid-column: 1/span 3;
        display: flex;
        justify-content: space-between; 
        gap: 10px;
    }

    .share , .download {
        flex-basis: 100%;
        height: 30px;
        border-radius: 5px;
    }

    .watch {
        flex-basis: 500%;
        height: 30px;
        border-radius: 5px;
    }


    
   /* movie-info */
   .movie-info {
        flex:1;
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: space-evenly;
   }
   .genre {
    display: flex;
    gap: 10px;
   }

   .genre >* {
        height: 30px;
        flex-basis:20%;
        border-radius: 5px;
   }

   .details {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 10px;
   }

/* Description */
.description {
    margin-block: 20px;
}
.description>*{
    margin-block: 10px;
}

/* Cast */
.cast h4{
    margin-block: 10px;
}

.circle-background {
    border-radius: 50%;
    background-color: rgb(0, 148, 234);
    width: 50px;
    height: 50px;
    position: relative;
    transform: scale(1.2);
   
   }

.circle-background .icon {
position: absolute;
top:50%;
left: 50%;
transform: translate(-50%,-50%)
}

.actor {
display: flex;
gap: 20px;
align-self: flex-start;
}
.actor>*{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
