*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    height: 1000px;
}
.font-green {
    color: rgb(43, 199, 43)
}
.font-blue {
    color: blue
}

/* Header */
Header {
    border: 1px solid black;
    margin-block: 20px;
    padding: 10px 20px 10px;
    display: flex;
    justify-content: space-between;
}

.circle {
    height: 50px;
    width: 50px;
    background-color: rgb(255, 255, 144);
    border-radius: 50%;
    border: dashed black;
}

.hello-user {
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-list {
    display: flex;
    gap: 15px;
    align-items: center;
}

/* main */
    /* movie-grid */

    .main-grid {
        background-color: rgb(242, 236, 237);
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        height: 300px
    }
    .movie-grid {
        flex: 1;
        background-color: rgb(246, 155, 169);
        display: grid;
        grid-template-rows: 5fr 1fr ;
        gap: 10px;
    }
    /* grid area distribution */

    .main-image {
        grid-column: 1/span 3;
        background-color: rgb(223, 48, 77);
    }

    .buttons {
        display: flex;
        justify-content: space-between; 
        align-items: center;
        gap: 5px;
    }

    .share , .download {
        flex-basis: 100%;
        height: 30px;
        width: 200px;
    }

    .watch {
        flex-basis: 500%;
        height: 30px;
    }


    
   /* movie-info */
   .movie-info {
        flex:1;
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: space-evenly;
   }
   .genre {
    display: flex;
    gap: 10px;

   }

   .details {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 10px;
   }

/* Description */

   